.menu_bar{
    width:100%;
    height: 12vh;
    background:transparent; 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px);
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #1b2333;
    display: flex;
    flex-direction: row;
}

.menu_bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin-right: 5vw;
    list-style: none;
}

.menu_bar ul a {
    margin-right: 5vw;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    color: #647082;
    text-decoration: none;
}

.menu_bar ul li a.active {
  color: #3474e7;
}

@media (max-width: 600px) {
    .menu_bar ul {
        justify-content: center;
        margin: 0;
    }

    .menu_bar ul a {
        margin: 0 2vw;
        font-size: 1rem;
    }
}