.father_container{
    width: 100%;
    height: auto;
    background-color: #0a0e1a;
    z-index: 10;
    overflow-x: hidden;
}
.About_Section{
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.About_Section .d1,.About_Section .d2{
width: 35vw;
height: 50vh;
display: flex;
flex-direction: column;
}
.About_Section .d1{
    margin-right: 2vw;
}

.About_Section .d2{
    margin-left: 2vw;
    background:rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
 padding: 2vw;
 border-radius: .8vw;
 border: 1px solid #1e2a3d;
 height: 40vh !important;
}

.About_Section .d1 .p1{
    color: #e2e8f0;
    font-size: 4rem;
    font-weight: bold;
}
.About_Section .d1 .p1 .span{
    color:  #3474e7;
}

.About_Section .d1 .p2{
    color: #7a8f8e;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}
.About_Section .d1 .p2 span{
    color:  #e2e8f0;
    font-weight: bold;
}



.About_Section .d1 .div_Refs{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
}

.About_Section .d1 .div_Refs{
    width: 100%;
    height: auto;
    margin-top: 4vh;
}


.About_Section .d1 .div_Refs a{
     text-decoration: none;
     padding-top: 1.5vh;
     padding-bottom: 1.5vh;
        padding-left: 2vw;
        padding-right: 2vw;
     border: 1px solid #1e2a3d;
     border-radius: .5vw;
     color: #e0ddcc;
     margin-right: 2vw;
     transition-property: background-color color;
     transition-duration: 1s;}

.About_Section .d1 .div_Refs a:hover{
    background-color: #3474e7;
    color: #fafafa;
}
.About_Section .d2 .p1{
    color: #e2e8f0;
    font-size: 1.1rem;
    font-weight: bold;
}
.About_Section .d2 .p2{
    color: #7a8f8e;
    font-size: .9rem;
    line-height: 1.5;
    margin-top: 2vh;
}
.About_Section .d2 .p3{
    color: #e2e8f0;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 2vh;
}

.About_Section .d2 .Tecnologies{
    margin-top: 1.5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 1.5vh;
    overflow: hidden;
    flex-wrap: wrap;
}

.About_Section .d2 .Tecnologies .pt{
    color: #fafafa;
  padding: .5vh;
  border-radius: .5vw;
  border: 1px solid #1e2a3d;
  font-size: .8rem;
  margin-bottom: 1vh;
  margin-right: .5vw;
  padding-left: .5vw;
  padding-right: .5vw;
}

.About_Section .d2 hr{
border: 1px solid #1e2a3d;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.About_Section .d2 .p4{
    color: #e2e8f0;
    font-size: .9rem;
    margin-top: 2vh;
}

.Projects_Section{
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects_Section .p1{
    color: #e2e8f0;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
}
.Projects_Section .p1 .span{
    color: #3474e7;
}
.Projects_Section .p2{
    color: #7a8f8e;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.Projects_Section .Projects_Container{
    margin-top: 5vh;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}
.Projects_Section .Projects_Container .Project_Card{
  height: 75vh;
  width: 40vw;
  border: 1px solid #1e2a3d;
  border-radius: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background:rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 5vh;
}

.Projects_Section .Projects_Container .Project_Card:hover>img{
    transform: scale(1.05);
}

.Projects_Section .Projects_Container .Project_Card img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    object-fit: cover;
     transition-property: transform;
    transition-duration: .5s;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info{
    width: 90%;
    height: 40%;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .Project_Title{
    color: #e2e8f0;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .Project_Description{
    color: #7a8f8e;
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 2vh;
    line-height: 1.5;
    height: 10vh;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .Project_Technologies{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
    flex-wrap: wrap;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .Project_Technologies .pt{
    color: #fafafa;
    padding: .5vh;
    border-radius: .5vw;
    border: 1px solid #1e2a3d;
    font-size: .8rem;
    margin-bottom: 1vh;
    margin-right: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .linkGit{
    border: 1px solid #242e3f;
    background-color: #0a0e1a;
    text-decoration: none;
    color: #fafafa;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: .5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    transition-property: transform ;
    transition-duration: .5s;
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .linkGit:hover{
    transform: scale(1.05);
}

.Projects_Section .Projects_Container .Project_Card .Project_Info .linkGit .gitImage{
    width: 1.5vw;
    height: auto;
    filter: invert(1);
    margin-left: 1vw;
}

.Projects_Section .OtherProjects_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 5vh;
}

.Projects_Section .OtherProjects_Container .p1{
    color: #e2e8f0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.Projects_Section .OtherProjects_Container .Project_Card{
background-color: rebeccapurple;
  width: 40vw;
  border: 1px solid #1e2a3d;
  border-radius: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  background:rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info{
width: 90%;
height: 90%;
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .Project_Title{
    color: #e2e8f0;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .Project_Description
{
    color: #7a8f8e;
    font-size: .9rem;
    font-weight: 300;
    margin-bottom: 1vh;
    line-height: 1.5;
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .Project_Technologies{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .Project_Technologies .pt{
    color: #fafafa;
    padding: .5vh;
    border-radius: .5vw;
    border: 1px solid #1e2a3d;
    font-size: .8rem;
    margin-bottom: 1vh;
    margin-right: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
}

.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .linkGit{
    border: 1px solid #242e3f;
    background-color: #0a0e1a;
    text-decoration: none;
    color: #fafafa;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: .5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    transition-property: transform ;
    transition-duration: .5s;
}
.Projects_Section .OtherProjects_Container  .Project_Card .Project_Info .linkGit:hover{
    transform: scale(1.05);
}

.Projects_Section .OtherProjects_Container .Project_Card .Project_Info .linkGit .gitImage{
    width: 1.5vw;
    height: auto;
    filter: invert(1);
    margin-left: 1vw;
}






.Contact_Section{
    width: 100%;
    height: 100vh;
    background-color: #50e3c2;
    z-index: 100;
    
}