.father_container{
    width: 100%;
    height: 100vh;
    background-color: #0a0e1a;
    z-index: 10;
}
.About_Section{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.About_Section div{
background-color: red;
width: 40vw;
height: 50vh;

}

.Projects_Section{
    width: 100%;
    height: 100vh;
    background-color: #4a90e2;
    z-index: 100;
}
.Contact_Section{
    width: 100%;
    height: 100vh;
    background-color: #50e3c2;
    z-index: 100;
}